# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Model files backups (optional if using LFS)
*.h5
*.pkl

# IDE files
.vscode/
.idea/
